
<%= sidebar_section(t(".title")) do %>
   <ul class="latest_post">
     <% @tags.each do |tag| %>
       <li id="tag"><%=link_to "#{tag.name} (#{tag.frequency})", blog_tags_page_path(tag: tag.name) %> </li>
     <% end %>
   </ul>
 <% end %>