<%= sidebar_section_for(t(".title")) do  %>
    <%= form_for blog_search_path, method: :get do %>
      <div class="control-search">
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag "", name: nil ,class:"search-btn"%>
      </div>
    <% end %>
<% end %>