<%= sidebar_section_for(t(".title")) do  %>
    <%= form_for blog_search_path, method: :get do %>
      <p>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag "Search", name: nil %>
      </p>
    <% end %>
<% end %>