<h4><%= content.title %></h4>
<ol>
  <% content.teachable.tasks.each do |task| %>
    <%= content_tag :li, id: dom_id(task) do %>
      <%= check_box_tag "complete", task.id, task.completed?, class: "complete_task" %>
      <%= task.content %>
    <% end %>
  <% end %>
</ol>
