<!DOCTYPE HTML>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Name: <%= @name %> <br />
    Email: <%= @email %> <br/>
    Message: <%= raw(@msg) %>
  </body>
</html>
