<h1><%= t(".header") %></h1>
<%= simple_form_for @user, url: blog_admin_user_path(@user), method: :put do |user| %>
  <%= render :partial => 'form', :locals => { :user => user } %>
  <%= user.submit t(".save"), class:  "btn btn-large btn-primary" %>
<% end %>