
<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'dashboard') %>
<% content_for(:title, 'GrowthValley > Home > contact') %>
<div class="main-content-area wrapper courses">
  <div class="filter">
    <h4 class="fleft">For Organizations</h4>
    <div class="clear"></div>
    <div><br><br>
      Coming Soon ... <br><br><br><br><br><br><br>
    </div>
  </div>
</div>
