<% content_for(:body_class, "profile-page") %>
<% content_for(:current, 'notifications') %>
<% content_for(:title, 'GrowthValley > My Account > Notifications') %>
<!--Start Main Content Area-->
<div class="main-content-area wrapper">
	<div class="notifications">

    <!--Start Single Notification-->
    <% @notifications.each do |n| %>
    <div class="row-fluid single-notification">
      <% user_detail = User.find_by_id(n["user_id"]) %>
      <div class="span1 notification-thumb">
       <% if user_detail.profile_pic_url.present? %>
       <%= image_tag(user_detail.profile_pic_url) %>
       <% else %>
       <%= image_tag("no-thumbnail.png") %>
       <% end %>
     </div>
     <div class="span11">
      <h5><%= n["message"].html_safe %></h5>
      <span class="time">
      <%= time_ago_in_words(n.created_at.strftime("%d-%m-%Y %H:%M %z")) %> ago
      </span>
    </div>
  </div>
  <% end %>
  <!--End Single Notification-->
  <div class="no-more-notification">No More Notification</div>
</div>
</div>
<!--End Main Content Area-->
