<%= content_tag_for :li, lesson , class: 'ui-state-default', style: "float:left;width:200px;padding:3px;min-height:200px;;margin:3px 3px 3px 3px 0" do %>
    <%= link_to lesson_path(lesson), remote: true do %>
        <ol>
          <li><strong>Title: </strong><br><%= lesson.title %></li>
          <li><strong>Description: </strong><br><%= lesson.description %></li>
        </ol>
    <% end %>
<% end %>