<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'my_courses') %>
<% content_for(:title, 'GrowthValley > Courses > My Courses') %>
<div class="main-content-area wrapper my-courses-table">
  <div class="mycourses-all">
<%- model_class = Course -%>
<div class="page-header">
  <h3><%=t '.title', :default => [:'helpers.titles.new', 'New Course'], :model => model_class.model_name.human.titleize %></h3>
</div>
<%= render :partial => 'form' %>
  </div>
</div>