<div class="main-content bundles">  
    <ul class="course-panel bundle-panel bundle-name">
    <% if @bundles.count > 0 %>
      <% @bundles.each do |bundle| %>
        <%= render partial: "bundles/single_bundle", :locals => { :bundle => bundle } %>
      <% end %>

      <%= paginate @bundles %>
    <% else %>
      </br>
      <h6>No bundles avaliable yet !</h6>
    <% end %>
  </ul>

  <div class="add-new-bundle-btn">
    <form action="<%= bundles_path %>" method="get">
      <input type="submit" value="Discover Bundles" class="btn btn-green" />
    </form>
  </div>
</div>
