/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require gv
 *= require rateit
 */

@font-face {
    font-family: 'arialnarrow';
    src: url('/assets/arialn-webfont.eot');
    src: url('/assets/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/arialn-webfont.woff') format('woff'),
         url('/assets/arialn-webfont.ttf') format('truetype'),
         url('/assets/arialn-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;
}
