<% content_for(:body_class, 'profile-page') %>
<% content_for(:current, 'my_courses') %>
<% content_for(:title, 'GrowthValley > My Courses >  Courses') %>

<%- model_class = Exam -%>
<div class="main-content-area wrapper my-courses-table">
	<div class="mycourses-all">
    <ul class="breadcrumb">
        <li><a href="javascript:void(0)">Courses</a> <span class="divider"></span></li>
        <li><a href="javascript:void(0)">New Exam</a></li>
    </ul>
<%= render :partial => 'form' %>
	</div>
</div>
