<div class="search-bar">
  <input name="What do you want to learn?" id="what-you-want" type="text" maxlength="100" value="What do you want to learn?" onfocus="if (this.value=='What do you want to learn?') this.value = ''" onblur="if (this.value=='') this.value = 'What do you want to learn?'" />
  <input name="submit" type="button" class="sprite"; />
</div>
